{% extends 'layout.html' %}

{% block title %}
    {{thoughtnode.title}}
{% endblock %}

{% block content %}
    <h1>{{thoughtnode.title}}</h1>
    <p>{{thoughtnode.frequency}}</p>
    <p>{{thoughtnode.description}}</p>
    <p>{{thoughtnode.prompt}}</p>
    <form action="{% url 'thoughtnodes:runthoughtnode' slug=thoughtnode.slug %}" method="post">
        {% csrf_token %}
        <button class="thoughtnodeformbutton">Run</button>
    </form>
    <form action="{% url 'thoughtnodes:editthoughtnode' slug=thoughtnode.slug %}" method="get">
        {% csrf_token %}
        <button class="thoughtnodeformbutton">Edit</button>
    </form>
    <form action="{% url 'thoughtnodes:deletethoughtnode' slug=thoughtnode.slug %}" method="post">
        {% csrf_token %}
        <button class="thoughtnodeformbutton">Delete</button>
    </form>
{% endblock %}