{% extends 'layout.html' %}

{% block title %}
    Thoughtnodes
{% endblock %}

{% block content %}
    <h1>Thoughtnodes</h1>
    <form action="{% url 'thoughtnodes:addthoughtnode' %}" method="get">
        {% csrf_token %}
        <button class="addthoughtnodebutton">+</button>
    </form>
    <br>
    {% for thoughtnode in thoughtnodes %}
        <article>
            <a style="text-decoration: none; color: black;" href="{% url 'thoughtnodes:viewthoughtnode' slug=thoughtnode.slug %}">
                <h2 style="display: inline-block;">{{thoughtnode.title}}:</h2>
                <h3 style="display: inline-block;">{{thoughtnode.query | truncatechars:25}}</h3>
            </a>
        </article>
    {% endfor %}
{% endblock %}